<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>Password Reseted Successfully</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
        font-family: "Courier New", Courier, monospace;
        background: #a9cde7;
      }
      table,
      td {
        border-collapse: collapse;
      }
      .theMainImage {
        width: 30%;
        margin-x: auto;
      }
      @media only screen and (max-width: 480px) {
        .theMainImage {
          width: 90%;
          height: 90%;
          margin-x: auto;
        }
      }
    </style>
  </head>

  <body style="background: #a9cde7">
    <table
      width="100%"
      cellspacing="0"
      cellpadding="0"
      border="0"
      align="center"
      bgcolor="a9cde7"
    >
      <tbody>
        <tr>
          <td valign="top" align="center">
            <table
              class="container"
              width="600"
              cellspacing="0"
              cellpadding="0"
              border="0"
            >
              <tbody>
                <tr>
                  <td
                    style="
                      padding: 48px 0 30px 0;
                      text-align: center;
                      font-size: 14px;
                      color: #4c83ee;
                    "
                  >
                    <img
                      class="theMainImage"
                      src="https://i.pinimg.com/736x/8b/b0/e8/8bb0e822cffda99e6a286bfdc247aff4.jpg"
                    />
                  </td>
                </tr>
                <tr>
                  <td
                    class="main-content"
                    style="padding: 48px 30px 40px; color: #000000"
                    bgcolor="a9cde7"
                  >
                    <table
                      width="100%"
                      cellspacing="0"
                      cellpadding="0"
                      border="0"
                    >
                      <tbody>
                        <tr>
                          <td
                            style="
                              padding: 0 0 24px 0;
                              font-size: 18px;
                              line-height: 150%;
                              font-weight: bold;
                              color: #000000;
                            "
                          >
                            Congratulations! {{.Name}}, Your password has been
                            reseted successfully!
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              padding: 0 0 10px 0;
                              font-size: 14px;
                              line-height: 150%;
                              font-weight: 400;
                              color: #000000;
                            "
                          >
                            Recently, you decided to change your password to
                            something that—hopefully you won’t forget. Fingers
                            crossed!
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              padding: 0 0 10px 0;
                              font-size: 14px;
                              line-height: 150%;
                              font-weight: 400;
                              color: #000000;
                            "
                          >
                            Now, try not to lose it again. 😉
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              padding: 0 0 60px 0;
                              font-size: 14px;
                              line-height: 150%;
                              font-weight: 400;
                              color: #000000;
                            "
                          >
                            If you're curious about how we handle your personal
                            data, feel free to reach out to us at
                            <a href="mailto:liduhon3@gmail.com"
                              >liduhon3@gmail.com</a
                            >.
                          </td>
                        </tr>
                        <tr>
                          <td style="padding: 0 0 16px">
                            <span
                              style="
                                display: block;
                                width: 117px;
                                border-bottom: 1px solid #8b949f;
                              "
                            ></span>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              font-size: 14px;
                              line-height: 170%;
                              font-weight: 400;
                              color: #000000;
                            "
                          >
                            Best regards,<br />
                            <strong>cookit</strong>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 24px 0 48px; font-size: 0px">
                    <div
                      class="outlook-group-fix"
                      style="
                        padding: 0 0 20px 0;
                        text-align: center;
                        width: 100%;
                      "
                    >
                      <span style="font-size: 11px; color: black"
                        >lido's.<br />www.lidos.org</span
                      >
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>